.collapse-custom-closed {
  display: none;
}
.collapse-custom-transiting {
  display: block;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
.collapse-custom-opened {
  display: block;
}
