@font-face {
  font-family: "material-icons";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
}
