html {
  font-size: 1rem;
}

body {
  font-family: nunito;
  font-size: 1rem;
}

/* Коррекция коллапсов внутри флексов с зазорами */
/* .collapse,
.collapsing {
  transition: margin-top 0.3s ease;
}
.collapse {
  margin-top: 0rem;
}
.collapsing {
  margin-top: -1rem;
}
.collapse:not(.show) {
  display: block;
  overflow: hidden;
  height: 0;
  margin-top: -1rem;
} */
